#react-app {    
    -webkit-margin-before: unset !important;
    -webkit-margin-after: unset !important;
    -webkit-margin-start: unset !important;
    -moz-margin-start: unset !important;
    -webkit-margin-end: unset !important;
    -moz-margin-end: unset !important;
    -webkit-padding-start: unset !important;
    -moz-padding-start: unset !important;
    display: unset !important;
}

/* Bikes */

.bike-select-container {
    margin-left: 0;
    margin-top: 1rem;
    display: table;
    line-height: 2;
}

.bike-select-row {
    display: table-row;
}

.bike-select-cell {
    display: table-cell;
    vertical-align: middle;
}

.bike-select-cell-none {
    display: none;
}

    .bike-select-cell > select,
    .bike-select-cell-none > select,
    .bike-select-cell > span,
    .bike-select-cell-none > span {
        margin-bottom: 0;
        margin-right: 0.5rem;
    }

    .bike-select-cell > span,
    .bike-select-cell-none > span {
        height: 2.25rem;
    }

/* Reverse applications */

.reverse-link.reverse-link {    
    justify-content: center;
}

.reverse-link a {
    color: cornflowerblue;
}

.bike-reverse-body {
    margin: 2rem;  
}

.bike-reverse-table {
    display: table;
    color: black;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 1rem;
}

    .bike-reverse-table > div {
       display: table-row;
    }       

        .bike-reverse-table > div > div {
            display: table-cell;
            border: #EFEFEF 1px solid;
            padding: 0.25rem;
            /*white-space: nowrap;*/
        }

        .bike-reverse-table > div:first-child > div {
            display: table-cell;
            background-color: #00148e;
            border: #2E2E2E 1px solid;
            padding: 0.25rem;
            color: white;
            text-align: center;
        }

/* Reverse application paginator */


.paginator ul {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
}

.paginator li {
    display: inline-block;
    outline: 1px #C0C0C0 solid;
    margin-top: 1px;
    margin-left: 1px;
    padding: 0.3rem 0.75rem;
}

.paginator a {
    color: cornflowerblue;
}

.paginator .disabled a {
    color: lightgray;
}

.paginator .active {
    background-color: cornflowerblue;
}

.paginator .active a {
    color: white;
}

/* Kits */

.kit-table-container {
    display: inline-block;   
}

.kit-table-row {
    display: block;
    background-color: #EFEFEF;
    padding: 1rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
}

.kit-title {
    color: #00148e;
    font-weight: bold;
    font-size: large;
    padding-bottom: 0.5rem;
}

.kit-table-cell {
}

.kit-table-kitpart {
    padding: 0 0 0.5rem 0;
}

.kit-table-kitname {
    color: #00148e;
}

.kit-table-description {
    padding: 0 0 1.0rem 0;
}

.kit-parts {
    margin: auto;
}

.kitpart-table {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-flow: row;
    border-left: #3F3F3F 1px solid;
    border-bottom: #3F3F3F 1px solid;
}

@media only screen and (max-width: 1024px) {
    .kitpart-table {
        grid-template-rows: repeat(3, auto);
        grid-auto-flow: column;
    }
}

.kitpart-component-cell {
    display: table-cell;
    padding: 1rem;
    text-align: center;
    border-right: #3F3F3F 1px solid;
    border-top: #3F3F3F 1px solid;
    border-bottom: none;
    border-left: none;
}

.kitpart-component-header {
    display: table-cell;
    padding: 1rem;
    text-align: center;
    color: white;
    background-color: #00148e;
    vertical-align: middle;
    border-right: #3F3F3F 1px solid;
    border-top: #3F3F3F 1px solid;
    border-bottom: none;
    border-left: none;
}

.kitpart-component-cell-label {
    margin-right: 0.5rem;
}

.kitpart-component-cell-value {
    margin-right: 1rem;
    white-space: nowrap;
}

.kitpart-partname {
    color: #00148e;
}

.kitpart-block {
    display: block;    
}

.kitpart-inline {
    display: inline;
}

.kitpart-inline-block {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.kitpart-thumbnail {
    margin-top: 0.5rem;
}

.kitpart-thumbnail img {
    height: 4rem;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Collapsible item list*/

.item-grid {
    display: grid;
    align-content: center;
    width: fit-content;
}

.battery-grid {
    grid-template-columns: repeat(11, auto);
}

.chain-grid {
    grid-template-columns: repeat(8, auto);
}

.filter-grid {
    grid-template-columns: repeat(6, auto);
}

.sprocket-grid {
    grid-template-columns: repeat(8, auto);
}

.item-grid div {
    border: 1px solid #5a5a5a;
    margin-top: -1px;
    margin-left: -1px;
    padding: 0.5rem;
    text-align: center;
    align-content: center;
}

.item-grid .item-grid-col-header {
    display: inline;
    background-color: #00148e;
    color: white;
    text-align: center;
}

.item-grid .item-grid-row-header {
    display: none;
}

@media screen and (max-width: 800px)
{
    .battery-grid {
        grid-template-columns: repeat(2, auto);
    }

    .chain-grid {
        grid-template-columns: repeat(2, auto);
    }

    .filter-grid {
        grid-template-columns: repeat(2, auto);
    }

    .sprocket-grid {
        grid-template-columns: repeat(2, auto);
    }

    .item-grid .item-grid-col-header {
        display: none;
    }

    .item-grid .item-grid-row-header {
        display: inline;
        background-color: #00148e;
        color: white;
        text-align: left;
    }

    .item-grid .item-grid-data {
        text-align: left;
    }

    .item-grid .centered {
        text-align: center;
    }

    .item-grid .item-grid-row-spacer {
        margin-bottom: 1rem;
    }
}


/* Parts */
.partlist-container {
}


.part_tab_content {
    margin: auto;
    padding: 1rem;
    border: 1px solid #5a5a5a;
    display: inline-table;
}

.part-table {
    margin: auto;
    padding: 1rem;
    border: 1px solid #5a5a5a;
    display: inline-table;
    border-color: #5a5a5a;
    border-width: 1px;
    border-collapse: collapse;
    border-spacing: 0;
}

.part-table th {
    background-color: #00148e;
    color: white;
    text-align: center;
    padding: 0.5rem;
    border-style: solid;
    border-width: 1px;
    border-color: #5a5a5a;
}

.part-table td {
    padding: 0.5rem;
    border-style: solid;
    border-width: 1px;
    border-color: #5a5a5a;
    text-align: center;
}

    .part-table.collapsed td {
        text-align: left;
    }

    .part-table.collapsed td:first-child {
        background-color: #00148e;
        color: white;
        text-align: right;
        padding: 0.5rem;
    }

.part-table td.centered {
    text-align: center;
}

.collapsed {
    margin-top: 1rem;
    margin-right: 1rem;
}

.cell-center {
    text-align: center;
}

.cell-right {
    text-align: right;
}

.cell-left {
    text-align: left;
}

.info-image {
    width: 24px;
}

/* Battery info modal */

.battery-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 2rem;
    justify-content: flex-start;
    align-items: start;
    margin: 2rem;
}

.battery-info-header {
    display: flex;
    color: black;
    font-weight: bold;
}

.battery-info-table {
    display: table;
    border-collapse: collapse;
}

.battery-info-table > div {
        display: table-row;
}

.battery-info-table > div > div {
    display: table-cell;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
    vertical-align: middle;
}

    .battery-info-table > div > div:first-child {
        font-style: italic;
    }

    .battery-info-table > div > div:nth-child(1),
    .battery-info-table > div > div:nth-child(2)
    {
        text-align: right;
    }

.battery-drawings > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    padding-bottom: 1.5rem;
}

    

/* Chain info modal */

.chain-info {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
    justify-content: flex-start;
    align-items: start;
    margin: 2rem;
}

.chain-info-table {
    display: table;
    border-collapse:collapse;
}

    .chain-info-table > div {
       display: table-row;
    }

        .chain-info-table > div > div {
            display: table-cell;
            padding-right: 1rem;
            padding-bottom: 1rem;
            vertical-align: middle;    
        }

        .chain-info-table > div > div:nth-child(1),
        .chain-info-table > div > div:nth-child(3) {
            font-style: italic;
        }

/* Modals */

body.modal-showing {
    overflow: hidden;
}

.modal_background {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    z-index: 1050;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_content {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.modal_header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    padding: 1rem;
}

.modal_title {
    margin: 0;
    color: black;
    font-weight: bold;
    display: inline;
}

.modal_body {
    align-self: center;
}

.modal_image {
    max-width: 90%;
    max-height: 90%;
    min-width: 250px;    
    display: block;
    margin: 0 auto;
}

.modal_footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e5e5e5;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #FFF;
    text-shadow: 0 1px 0 #000;
    opacity: .6;
}

.close:hover,
.close:focus {
    color: #fc0;
    text-decoration: none;
    cursor: pointer;
    opacity: .8;
}

button.close {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    color: black;
}

.close_button {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    color: black;
}

.close_button:hover {
    color: #fc0;
}

/**/

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.underline {
    text-decoration: underline;
}

/* Part list */

.part-image {
    border-width: 0px;
    width: 4em;
}
