@model AfamBikePartsReact.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div style="display: inline" id="react-app" data-language="en">Loading...</div>


@section scripts {
    <script>
        window.Promise || document.write('<script src="https://unpkg.com/es6-promise@3.2.1/dist/es6-promise.min.js"><\/script>');
    </script>
    <script src= "~/js/appvendor.js" ></script>
    <script src="~/js/afamapp.js"></script>
}
